@import url("https://cdn-uicons.flaticon.com/uicons-regular-rounded/css/uicons-regular-rounded.css");
@import url('https://fonts.googleapis.com/css2?family=Major+Mono+Display&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Major Mono Display', monospace;
  font-family: "Montserrat", sans-serif;
}

html,
body {
  scroll-behavior: 'scroll';
  font-family: "Montserrat";
}

$logo: #146fa4;
$text: #020202;
$check: #0e4d71;
$shadows: #020202b4;
$footer: #0d0d0d;
$side: #d2d9d2;

header {
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
  background-color: #0e4d71;
}

#logo {
  position: absolute;
  left: calc((75%/6));
  font-family: 'Major Mono Display';
  font-weight: 500;
  font-size: 20px;
  letter-spacing: 1px;
  line-height: 1.2em;
  text-transform: uppercase;
  color: #ffffff;
}

.containner_menu {
  position: absolute;
  left: calc(80% + 10px);

  a {
    margin: 8px;
    padding: 4px;
    z-index: 1;
    text-decoration: none;
    color: #ffffff;
    transition: 0.8s;
  }

  a:hover {
    padding: 10px;
    border: 0;
    border-radius: 100px;
    background-color: #146fa4;
    filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.25));
    transition: 0.5s;
  }

  a:active {
    background-color: #ffffff;
    color: #0e4d71;
  }
}

.products_section {
  margin-left: 10px;
}

.containner_name-product{
  h2{
    text-decoration: underline;
  }

  font-family: "Montserrat";
  font-size: 1em;
  color: #0e4d71;

  .track_caminho{
    a{
      gap: 8px;
      font-size: 0.9rem;
      text-decoration: none;
      color: #d2d9d2;
    }

    a::before{
      content: '>';
      margin: 5px;
      z-index: 1;
    }

    a:first-child::before {
      content: ' ';
      margin: 5px;
      z-index: 1;
    }
  }
}

aside{
  margin: 10px 15px;
  padding: 10px;
  width: calc(50%/3);
  border: 0;
  border-radius: 15px;

  text-align: right;
  background-color: #d2d9d2;
}

#recolher{
  font-size: 10px;
  font-weight: 600;
  text-decoration: none;
  color: $check;
}

.filters{
  .filter_models, .filter_money, .filter_size, .filter_marcas{
    margin: 5px 0;

    display: grid;
    gap: 0.5em;

    text-align: left;

    label{
      font-size: 14px;
    }
  }
}

.filter_name{
  font-size: 1em;
  line-height: 1.5em;
  font-weight: 500;
  color: $check;
}

.containner_products{
  top: -99px;
  float: right;
  margin: 15px;
  display: grid;
  grid-template-columns: auto auto auto auto;
  gap: 10px;

  .product{
    img{
      width: 250px;
      height: 250px;
    }
  }
}

.containner_footer{
  width: 100%;
  height: 300px;

  display: grid;
  grid-template-columns: auto auto auto auto;
  gap: 10px;
  background: $footer;
}